<%= form_with(model: bill_politician, local: true) do |form| %>
  <% if bill_politician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill_politician.errors.count, "error") %> prohibited this bill_politician from being saved:</h2>

      <ul>
      <% bill_politician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bill_id %>
    <%= form.text_field :bill_id, id: :bill_politician_bill_id %>
  </div>

  <div class="field">
    <%= form.label :politican_id %>
    <%= form.text_field :politican_id, id: :bill_politician_politican_id %>
  </div>

  <div class="field">
    <%= form.label :yea %>
    <%= form.check_box :yea, id: :bill_politician_yea %>
  </div>

  <div class="field">
    <%= form.label :nay %>
    <%= form.check_box :nay, id: :bill_politician_nay %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
