<p id="notice"><%= notice %></p>

<h1>Bill Politicians</h1>

<table>
  <thead>
    <tr>
      <th>Bill</th>
      <th>Politican</th>
      <th>Yea</th>
      <th>Nay</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bill_politicians.each do |bill_politician| %>
      <tr>
        <td><%= bill_politician.bill %></td>
        <td><%= bill_politician.politican %></td>
        <td><%= bill_politician.yea %></td>
        <td><%= bill_politician.nay %></td>
        <td><%= link_to 'Show', bill_politician %></td>
        <td><%= link_to 'Edit', edit_bill_politician_path(bill_politician) %></td>
        <td><%= link_to 'Destroy', bill_politician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill Politician', new_bill_politician_path %>
