<p id="notice"><%= notice %></p>

<p>
  <strong>Bill:</strong>
  <%= @bill_politician.bill %>
</p>

<p>
  <strong>Politican:</strong>
  <%= @bill_politician.politican %>
</p>

<p>
  <strong>Yea:</strong>
  <%= @bill_politician.yea %>
</p>

<p>
  <strong>Nay:</strong>
  <%= @bill_politician.nay %>
</p>

<%= link_to 'Edit', edit_bill_politician_path(@bill_politician) %> |
<%= link_to 'Back', bill_politicians_path %>
