<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @poll.category_id %>
</p>

<p>
  <strong>Poll text:</strong>
  <%= @poll.poll_text %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
