<%= form_with(model: polls_user, local: true) do |form| %>
  <% if polls_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(polls_user.errors.count, "error") %> prohibited this polls_user from being saved:</h2>

      <ul>
      <% polls_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :poll_id %>
    <%= form.text_field :poll_id, id: :polls_user_poll_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :polls_user_user_id %>
  </div>

  <div class="field">
    <%= form.label :yea %>
    <%= form.check_box :yea, id: :polls_user_yea %>
  </div>

  <div class="field">
    <%= form.label :nay %>
    <%= form.check_box :nay, id: :polls_user_nay %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
