<p id="notice"><%= notice %></p>

<h1>Polls Users</h1>

<table>
  <thead>
    <tr>
      <th>Poll</th>
      <th>User ID</th>
      <th>Yea</th>
      <th>Nay</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls_users.each do |polls_user| %>
      <tr>
        <td><%= polls_user.poll %></td>
        <td><%= polls_user.user %></td>
        <td><%= polls_user.yea %></td>
        <td><%= polls_user.nay %></td>
        <td><%= link_to 'Show', polls_user %></td>
        <td><%= link_to 'Edit', edit_polls_user_path(polls_user) %></td>
        <td><%= link_to 'Destroy', polls_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Polls User', new_polls_user_path %>
