<%= form_with(model: bills_politician, local: true) do |form| %>
  <% if bills_politician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bills_politician.errors.count, "error") %> prohibited this bills_politician from being saved:</h2>

      <ul>
      <% bills_politician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bill_id %>
    <%= form.number_field :bill_id, id: :bills_politician_bill_id %>
  </div>

  <div class="field">
    <%= form.label :politician_id %>
    <%= form.number_field :politician_id, id: :bills_politician_politician_id %>
  </div>

  <div class="field">
    <%= form.label :yea %>
    <%= form.check_box :yea, id: :bills_politician_yea %>
  </div>

  <div class="field">
    <%= form.label :nay %>
    <%= form.check_box :nay, id: :bills_politician_nay %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
