<p id="notice"><%= notice %></p>

<h1>Bills Politicians</h1>

<table>
  <thead>
    <tr>
      <th>Bill</th>
      <th>Politician</th>
      <th>Yea</th>
      <th>Nay</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills_politicians.each do |bills_politician| %>
      <tr>
        <td><%= bills_politician.bill.title %></td>
        <td><%= bills_politician.politician.first_name %> <%= bills_politician.politician.last_name %></td>
        <td><%= bills_politician.yea %></td>
        <td><%= bills_politician.nay %></td>
        <td><%= link_to 'Show', bills_politician %></td>
        <td><%= link_to 'Edit', edit_bills_politician_path(bills_politician) %></td>
        <td><%= link_to 'Destroy', bills_politician, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bills Politician', new_bills_politician_path %>
