<p id="notice"><%= notice %></p>

<p>
  <strong>Bill:</strong>
  <%= @bills_politician.bill.title %>
</p>

<p>
  <strong>Politician:</strong>
  <%= @bills_politician.politician.first_name %> 
  <%= @bills_politician.politician.last_name %>
</p>

<p>
  <strong>Yea:</strong>
  <%= @bills_politician.yea %>
</p>

<p>
  <strong>Nay:</strong>
  <%= @bills_politician.nay %>
</p>


<%= link_to 'Edit', edit_bills_politician_path(@bills_politician) %> |
<%= link_to 'Back', bills_politicians_path %>
