<%= form_with(model: politician, local: true) do |form| %>
  <% if politician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(politician.errors.count, "error") %> prohibited this politician from being saved:</h2>

      <ul>
      <% politician.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :politician_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :politician_last_name %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.text_field :role, id: :politician_role %>
  </div>

  <div class="field">
    <%= form.label :party %>
    <%= form.text_field :party, id: :politician_party %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :politician_state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
