<p id="notice"><%= notice %></p>

<h1><%= current_user.first_name %>'s Representatives in 0<%= current_user.zip_code%></h1>


<h3> Senators </h3>

    <% @senators.each do |s| %>

        <div>
          <head>
          <%= s.first_name %>
          <%= link_to s.last_name, s %>

          </head> <br>
            <body>
              <%= s.party %>
              <%= link_to 'Contact', s %>
            </body>
        </div>
        <br>

    <% end %>

<h3> Representatives </h3>

    <% @reps.each do |r| %>

        <div>
          <head>
          <%= r.first_name %> 
          <%= link_to r.last_name, r %> 
          </head> <br>
            <body>
              <%= r.party %>
              <%= link_to 'Contact', r %>
            </body>
        </div>
        <br>

    <% end %>    

