<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @politician.first_name %> <%= @politician.last_name %> </strong>
</h1>

<div class="yea-bill">
  <h2> Yea </h2>
  <% @agree.each do |a| %>

      <div>
        <h3>
          <%= a.title %>
        </h3>
        <p>  
          <%= a.text %>
        </p>
    </div>

  <% end %>
</div>


<div class="nay-bill">
  <h2> Nay </h2>
  <% @disagree.each do |d| %>

        <h3>
          <%= d.title %>
        </h3>
        <p>  
          <%= d.text %>
        </p>
  <% end %>
</div>

<%= link_to 'Edit', edit_politician_path(@politician) %> |
<%= link_to 'Back', politicians_path %>
